{% extends "base.html" %}
{% block content %}

<div class="content-wrapper p-4" style="padding-left: 15px;">   
<h3> ایڈوانس {% if customer %}for {{ customer.name }}{% endif %}</h3>

<div class="card p-4 shadow" style="max-width: 600px; margin:auto;">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
            <label class="form-label"><b>{{ field.label }}</b></label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <br>
        <button class="btn btn-success">Save</button>
        <a href="{% url 'tractor:customer_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

</div>

{% endblock %}
